{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h5 class = "my-3 border-bottom pb-2">질문 등록</h5>
    <form method="post" class = "post-form my-3"> <!--동일한 페이지로 이동하기 위해 비워놨다.-->
        {% csrf_token %} <!--form 쓸때는 보안키를 꼭 써야한다.-->
        {% if form.errors %} <!--에러가 났다면 표시를 해주고 싶다.-->
            <div class = "alert alert-danger" role="alert"> <!---->
                {% for field in form %} <!--반복문을 통해 넘겨받고 해당 필드에 문제가 있으면-->
                    {% if field.errors %}
                    <strong>{{field.label}}</strong> <!--강조표시로 표시를 해라-->
                    {{ field.errors }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <div class = "form-group">
            <label for = "subject">제목</label>
            <input type = "text" class = "form-control" name = "subject" id = "subject"
                    value = "{{ form.subject.value|default_if_none:''}}">
        </div> <!--내용이 나오는 부분도 bootstrap을 써서 바꿔주면 된다.-->

        <div class = "form-group">
            <label for = "content">내용</label>
            <textarea class = "form-control" name = "content" id = "content" rows = "10">
                    {{ form.content.value|default_if_none:'' }}</textarea>
        </div>

<!--        {{ form.as_p}} &lt;!&ndash;form 객체를 p태그 안에 보관하겠다.&ndash;&gt;-->
        <button type = "submit" class = "btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}